{% extends "base.html" %}

{% block content %}

<section class="py-4">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-11">

        <!-- Breadcrumb -->
        <nav class="small text-muted mb-3">
          <a href="{% url 'courses:course_detail' course.slug %}"
            class="text-decoration-none">
            {{ course.title }}
          </a>
          <span class="mx-1">→</span>
          <span>{{ module.title }}</span>
          <span class="mx-1">→</span>
          <span>Lesson {{ object.order }}: {{ object.title }}</span>
        </nav>


        <!-- Lesson Header -->
        <div class="mb-4">
          <h2 class="fw-semibold mb-1">{{ object.title }}</h2>
        </div>

        <!-- Lesson Content -->
        <div class="card p-4 p-md-5 mb-4">

          <p>
            {{ object.content }}
          </p>

          <!-- Video -->
          <div class="card p-3 mb-4">
            <a href="https://www.youtube.com/watch?v={{ video_id }}"
              target="_blank"
              class="d-block">

              <div class="ratio ratio-16x9 rounded overflow-hidden">
                <img
                  src="https://img.youtube.com/vi/{{ video_id }}/maxresdefault.jpg"
                  class="w-100 h-100 object-fit-cover"
                  alt="Lesson video thumbnail">
              </div>

            </a>
          </div>
        </div>

        <!-- Navigation & Completion -->
        <div class="row align-items-center mt-4">
            <div class="col-4 text-start">
                {% if previous_lesson %}
                <a href="{% url "lessons:lesson_detail" course.slug module.id previous_lesson.id %}" class="btn btn-outline-secondary">
                ← Previous Lesson
                </a>
                {% endif %}
            </div>

            <div class="col-4 text-center">

            <!-- Completion State -->
            <div class="d-inline-flex align-items-center gap-2">
              {% if progress.is_completed %}
                <button class="btn btn-secondary px-3" disabled>
                    Completed ✓
                </button>
                {% if quiz %}
                  {% if quiz.status == 'active' or quiz.status == 'locked' %}
                    {% if quiz_attempt %}
                      <a href="{% url "quizzes:quiz_result" object.module.course.slug object.module.id object.id quiz_attempt.id %}" class="btn btn-outline-primary px-3">
                        Result
                      </a>
                    {% else %}
                      <a href="{% url "quizzes:quiz_overview" object.module.course.slug object.module.id object.id object.quizzes.id %}" class="btn btn-primary px-3">
                        Quiz
                      </a>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% else %}
                <a href="{% url "progress:mark_lesson_as_complete" course.slug module.id object.id %}"
                  class="btn btn-success px-6">
                    Mark as Completed
                </a> 
              {% endif %}
            </div>
          </div>

          <div class="col-4 text-end">
              {% if next_lesson %}
              <a href="{% url "lessons:lesson_detail" course.slug module.id next_lesson.id %}" class="btn btn-outline-secondary">
              Next Lesson →
              </a>
              {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock content %}

