{% extends "base.html" %}

{% block content %}

<h1>Question Detail: {{ object.question }}</h1>
<div>
    {% if object.quiz.status != 'locked' %}
      <a class="btn btn-primary" href="{% url 'quizzes:option_create' object.quiz.lesson.module.course.slug object.quiz.lesson.module.id object.quiz.lesson.id object.quiz.id object.id %}">Add Option</a><strong>(minimum 2)</strong>
    {% endif %}
</div>

<h2>Options</h2>
<table class="table table-hover">
  <thead>
    <th>Sr No.</th>
    <th>Option</th>
    <th>Is Correct</th>
    <th>Order</th>
    <th>Actions</th>
  </thead>
  <tbody>
    {% if question_options %}
        {% for question_option in question_options  %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ question_option.option }}</td>
                <td>{{ question_option.is_correct }}</td>
                <td>{{ question_option.order }}</td>
                <td>
                  {% if object.quiz.status != 'locked' %}
                    <a class="btn btn-warning" href='{% url "quizzes:option_update" object.quiz.lesson.module.course.slug object.quiz.lesson.module.id object.quiz.lesson.id object.quiz.id object.id question_option.id %}' role="button">Edit</a>
                    <a class="btn btn-danger" href='{% url "quizzes:option_delete" object.quiz.lesson.module.course.slug object.quiz.lesson.module.id object.quiz.lesson.id object.quiz.id object.id question_option.id %}' role="button">Delete</a>
                  {% else %}
                    <p>Quiz is in locked state.</p>
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan='5'>No options created for this question.</td>
        </tr>
    {% endif %}
  </tbody>
</table>

{% endblock content %}