{% extends "base.html" %}

{% block content %}

<h1>Welcome, {{ user.full_name }}</h1>

<ul>
    <li><a href="{% url 'logout' %}">Logout</a></li>
    <li><a href="{% url 'courses:course_create' %}">Create A New Course</a></li>
</ul>

<h2>Your courses:</h2>
<div class="row">
    {% for course_detail in course_details  %}
        <div class="card" style="width: 18rem;">
            <img src="{{ course_detail.course.thumbnail.url }}" class="card-img-top" alt="{{ course_detail.course.title }}">
            <div class="card-body">
                <p class="card-text">{{ course_detail.course.title }}</p>
                <p class="card-text">Status: {{ course_detail.course.status }}</p>
                <p class="card-text">Total Enrollments: {{ course_detail.total_enrollments }}</p>
                <a class="btn btn-warning" href="{% url 'courses:course_update' course_detail.course.slug %}" role="button">Edit</a>
                <a class="btn btn-danger" href="{% url 'courses:course_delete' course_detail.course.slug %}" role="button">Delete</a>
                <a class="btn btn-success" href="{% url 'courses:module_list' course_detail.course.slug %}" role="button">Modules</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}