{% extends "base.html" %}

{% block content %}

<h1>{{ object.title }}</h1>

<div>
    <img src="{{ object.thumbnail.url }}" class="img-fluid" alt="{{ object.title }}">

    <p>{{ object.description }}</p>

    {% if course_modules %}
    <h2>Course Modules:</h2>
    <div class="accordion" id="accordionExample">
        {% for course_module in course_modules  %}
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{course_module.id}}" aria-expanded="true" aria-controls="{{course_module.id}}">
                {{ course_module.title }}
            </button>
            </h2>
            <div id="{{ course_module.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                {% if course_module.lessons.all %}
                <strong>
                    <ol>
                        {% for lesson in course_module.lessons.all %}
                            <li><a href='{% url "lessons:lesson_detail" object.slug course_module.id lesson.id %}'>{{ lesson.title }}</a></li>
                        {% endfor %}
                    </ol>
                    </strong>
                {% else %}
                    <strong>No lessons added for this module.</strong>
                {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
</div>

{% endblock content %}

